body, header, nav, main, footer, h1, div, img {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background-color: #2f2f2f;
    color: #aaa;
    font-family: 'Inconsolata', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #2f2f2f;
    text-align: center;
    padding: 2em;
}

.sticky{
    position: webkit-sticky;
    position: sticky;
    top: 0;
}

h1 {
    font-size: 2.7em;
    display: inline-block;
    padding-top: 1.7em;
    padding-right: 22em;
    color: #fff;
    
}

.title {
    display: grid;
    grid-template-rows: 0px 5em;
}

.logo {
    height: 10em;
    width: 10em;
    padding-top: 1em;
    padding-left: 4em;
}

main {
    background-color: #1f1f1f;
    padding-left: 2em;
    padding-right: 2em;
}

nav {
    background-color: #03AC13;
}

nav ul {
    list-style-type: none;
    display: block;
}

nav li {
    display: inline-block;
    font-size: 2em;
    padding: 2em;
    padding-bottom: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

ol, footer p {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding: 0.5em;
}

.right {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 15%;
}

.right-text{
    text-align: right;
}

.pageName {
    text-align: left;
    padding-left: 2em;
    padding-top: 0.5em;
    font-size: 2.5em
}

.form-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

fieldset legend {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

label {
    display: block;
    padding-top: 5%;
}

footer{
    margin-bottom: auto;
}

main p{
    font-size: large;
}

ol {
    text-align: center;
}

ul p {
    text-align: center;
}

.f{
    padding-left: 25em;
    height: 12em;
    width: 20em;
}
.f2{
    padding-left: 2.5em;
    
    height: 12em;
    width: 20em;
}

legend {
    color: #03AC13;
}
fieldset {
    border-color:#03AC13;
}

.boss{
    height: 10em; 
    width: 8em;
}


